.App {
  text-align: center;
  background-color: #fff;
}

.demo {
  width: 100%;
}

.demo .radar-canvas {
  margin: 0 auto;
  width: 80%;
  background-color: #c6c6c6;
  border-radius: 8px;
  border: 1px solid #bbbbbb;
}
